{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Contact</h2>

    <!-- formularios do tipo POST são usados para melhor privacidade, para quando for anexado imagens e outros -->

    <form 
      action=""
      method="POST"
      enctype="multipart/form-data"
    >
    <!-- enctype="multipart/form-data" serve pra quando trabalhar com arquivo -->

      {% csrf_token %}
      <!-- csrf serve para proteção de dados. Ler um pouco sobre -->

      <div class="form-content">
        <div class="form-group">
          <label for="id_first_name">LABEL</label>
          <input type="text" name="first_name" maxlength="255" id="id_first_name">
        </div>
      </div>

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button> <!-- Enviar o formulário -->
          <!-- <button class="btn" type="reset">Send</button>  Limpa o formulário -->
        </div>
      </div>

    </form>
  </div>
{% endblock content %}